#Song {
    color: #ecab55;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
}

#Artist {
    font-size: .9rem;
}

#Position {
    font-weight: 800;
    font-size: 1.1rem;
}

#Grey {
    background: #f5f7f8;
}

.ChartItem {
    padding: 14px 0px 1px 16px;
    margin-bottom: 0px;
}

.Title {
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
    font-size: 1.4rem;
}