.NavBar {
    background-color: #ecab55;
}

.NavLink {
    padding: 0px 10px;
}

.Active i {
    color: #bcc8c9;
}

.Dropdown {
    background-color: #ecab55;
}

@media screen and (max-width: 410px) {
    .Logo {
        height: 29px;
    }
}