.Song {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Song figure,
h5 {
    margin: 0 0;
}

#Mic {
    color: #bcc8c9;
}

#Mic:hover {
    color: #ecab55;
}

#MicFull {
    color: #f85032;
}

#MicOutline {
    color: #bcc8c9;
}

#MicOutline:hover {
    color: #f85032;
}

#Comment {
    color: #bcc9c9;
}

#Comment:hover {
    color: #ecab55;
}