.App {
    font-family: "Cabin", sans-serif;
    background-color: white;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

.BorderBox {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.BorderBoxColored {
    background-color: #ecab55;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

* {
    box-sizing: border-box;
}

a {
    color: #FCF2E6;
    font-weight: 600;
    transition: color ease-in-out 0.3s;
}

a:hover {
    color: #fc8404;
    text-decoration: none;
}

a:hover i {
    color: #bcc8c9;
    transition: color ease-in-out 0.3s;
}

i {
    color: #fff;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #bcc8c9;
}

input[type="file"] {
    display: none;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar DELETE LATER */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}